/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars everywhere by default */
* {
  -ms-overflow-style: auto;  /* IE and Edge */
  scrollbar-width: thin;     /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  