/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars everywhere by default */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Hide webkit scrollbars */
*::-webkit-scrollbar {
  display: none;
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  